P13501_236_R1.fastq.gz
P13501_236_R1.fastq.gz
P13501_236_R2.fastq.gz
P13501_236_R2.fastq.gz
P13501_236_wasp_final.fa_bwa.sorted.bam
P13501_236_wasp_final.fa_bwa.sorted.bam
P13501_236_wasp_final.fa_bwa.sorted.bam.bai
P13501_236_wasp_final.fa_bwa.sorted.bam.bai
P13501_236_wasp_final.fa_NGM.sorted.bam
P13501_236_wasp_final.fa_NGM.sorted.bam
P13501_236_wasp_final.fa_NGM.sorted.bam.bai
P13501_236_wasp_final.fa_NGM.sorted.bam.bai
P13501_266_R1.fastq.gz
P13501_266_R1.fastq.gz
P13501_266_R2.fastq.gz
P13501_266_R2.fastq.gz
P13501_266_wasp_final.fa_bwa.sorted.bam
P13501_266_wasp_final.fa_bwa.sorted.bam
P13501_266_wasp_final.fa_bwa.sorted.bam.bai
P13501_266_wasp_final.fa_bwa.sorted.bam.bai
P13501_266_wasp_final.fa_NGM.sorted.bam
P13501_266_wasp_final.fa_NGM.sorted.bam
P13501_266_wasp_final.fa_NGM.sorted.bam.bai
P13501_266_wasp_final.fa_NGM.sorted.bam.bai
wasp_final.fa
wasp_final.fa
wasp_final.fa.amb
wasp_final.fa.ann
wasp_final.fa.bwt
wasp_final.fa-enc.2.ngm
wasp_final.fa-ht-13-2.3.ngm
wasp_final.fa.pac
wasp_final.fa.sa
